{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock title %}

{% block body %}
    <div class="container page-content">

    </div>
{% endblock body %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
{% endblock javascripts %}