{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock title %}

{% block body %}

    {{ include("includes/ui/news.html.twig") }}

    <div class="container page-content">
        <div class="row">
            <div class="col-md-4">
                {{ include("includes/ui/team/card.html.twig") }}
            </div>

            <div class="col-md-8">
                <div class="page-block">
                    <div class="page-block-header">
                        <h5>Schedule</h5>
                    </div>
                    <div class="page-block-content">
                        <div class="row">
                            <div class="col-md-2 schedule-block">
                                <div class="row">
                                    <div class="col-md-2 schedule-content">
                                        W
                                    </div>
                                    <div class="col-md-8 schedule-content">
                                        TEST
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 schedule-block">
                                <div class="row">
                                    <div class="col-md-2 schedule-content">
                                        W
                                    </div>
                                    <div class="col-md-8 schedule-content">
                                        TEST
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 schedule-block">
                                <div class="row">
                                    <div class="col-md-2 schedule-content">
                                        W
                                    </div>
                                    <div class="col-md-8 schedule-content">
                                        TEST
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 schedule-block">
                                <div class="row">
                                    <div class="col-md-2 schedule-content">
                                        W
                                    </div>
                                    <div class="col-md-8 schedule-content">
                                        TEST
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 schedule-block">
                                <div class="row">
                                    <div class="col-md-2 schedule-content">
                                        W
                                    </div>
                                    <div class="col-md-8 schedule-content">
                                        TEST
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 schedule-block">
                                <div class="row">
                                    <div class="col-md-2 schedule-content">
                                        W
                                    </div>
                                    <div class="col-md-8 schedule-content">
                                        TEST
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .day   { background: #eee; color: black; }
        .night { background: #333; color: white; }

        @media (prefers-color-scheme: dark) {
          .day.dark-scheme   { background:  #333; color: white; }
          .night.dark-scheme { background: black; color:  #ddd; }
        }

        @media (prefers-color-scheme: light) {
         .day.light-scheme   { background: white; color:  #555; }
            .night.light-scheme { background:  #eee; color: black; }
        }
    </style>
{% endblock stylesheets %}