{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock title %}

{% block body %}
    <div class="container">
        {% if navigation %}
            {% include 'includes/ui/navigation.html.twig' %}
        {% endif %}

        <div class="row">
            {{ app.user.roles|join() }}
        </div>
    </div>
{% endblock body %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .day   { background: #eee; color: black; }
        .night { background: #333; color: white; }

        @media (prefers-color-scheme: dark) {
          .day.dark-scheme   { background:  #333; color: white; }
          .night.dark-scheme { background: black; color:  #ddd; }
        }

        @media (prefers-color-scheme: light) {
         .day.light-scheme   { background: white; color:  #555; }
            .night.light-scheme { background:  #eee; color: black; }
        }
    </style>
{% endblock stylesheets %}