<div class="userbar bg-dark-red">
    <div class="userbar-brand">
        <a href="{{ url('app_homepage') }}">{{ site_name }}</a> > ASE
    </div>
    <div class="userbar-account">
        <a href="{{ url('app_homepage') }}">Home</a>
    </div>
</div>