<div class="page-block">
    <div class="page-block-header">
        <h5>Matchup</h5>
    </div>
    <div class="page-block-content border border-grey border-top-0">
        <div class="row">
            <div class="col-md-6">
                {{ game.awayTeam.name }}
            </div>
            <div class="col-md-6">
                {{ game.homeTeam.name }}
            </div>
        </div>
    </div>
</div>