.page-block {
    .page-block-header {
        padding: 2%;
        background-color: $primary;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        h5 {
            margin: 0;
        }
    }

    .page-block-content {

        &.schedule-block {
            color: black;
            background-color: white;

            .schedule-content {

                .col-sm-4 {
                    text-align: center;
                    margin: auto 2px;
                    max-width: 35px;
                }
            }

            .col-sm-4 {
                padding-right: 0;
            }

            .col-sm-7 {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
}