<div class="page-block">
    <div class="page-block-header">
        <h5>Create a Team</h5>
    </div>
    <div class="page-block-content border border-grey">
        Create your first team by clicking <a href="{{ path('app_teams_create') }}">here</a>.
    </div>
</div>