<div class="page-block">
    <div class="page-block-header">
        <h5>Depth Chart</h5>
    </div>
    <div class="page-block-content border border-grey border-top-0">
        <div class="row no-gutters">
            <div class="col-md-12 table-responsive">
{#                {% include 'includes/ui/team/old_depth_chart_table.html.twig' %}#}

                {% include'includes/ui/team/depth_chart_table.html.twig' %}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-12">
                <button id="save-depth-chart" class="align-middle">Save Depth Chart</button>
            </div>
        </div>
    </div>
</div>