<div class="page-block">
    <div class="page-block-header">
        <h5>Roster</h5>
    </div>
    <div class="page-block-content border border-grey border-top-0">
        <div class="row">
            {% for player in team.roster %}
                {{ include('player_card.html.twig') }}
            {% else %}
                <div class="col-md-12 text-center p-2">
                    No active roster was found.
                </div>
            {% endfor %}
        </div>
    </div>
</div>