<div class="page-block">
    <div class="page-block-header">
        <h5>Roster</h5>
    </div>
    <div class="page-block-content border border-grey border-top-0">
        <div class="row">
            {% for player in team.roster %}
                {{ include('player_card.html.twig') }}
            {% endfor %}
        </div>
    </div>
</div>