<div class="page-block">
    <div class="page-block-header">
        <h5>Schedule</h5>
    </div>
    <div class="page-block-content schedule-block border border-grey border-top-0">
        <div class="row no-gutters">
            {% for game in team.games %}
                <div class="col-sm-3 border border-light">
                    <div class="row no-gutters schedule-content p-2">
                        <div class="col-sm-4">
                            {{ game.tipOff|date('d/m') }}
                        </div>
                        <div class="col-sm-8">
                            <div class="row no-gutters">
                                {{ game.awayTeam.name }}
                            </div>
                            <div class="row no-gutters">
                                <strong>@ {{ game.homeTeam.name }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>