<div class="page-block">
    <div class="page-block-header">
        <h5>Negotiate</h5>
    </div>
    <div class="page-block-content border border-grey border-top-0">
        <div class="row">
            <div class="col-sm-12">
                This player expects: {{ player.expectedSalary|salary('USD') }}.
            </div>
        </div>
    </div>
</div>