<div class="container page-content">
    <div class="alert alert-danger" role="alert">
        We're still in BETA! Contact <strong><a href="/user/dan">dan</a></strong> with an bugs or issues.
    </div>
</div>
