<div class="logoblock">
    <div class="logo">
        <a href="{{ url('app_homepage') }}">
            <img src="{{ asset('images/logo.png') }}"  alt="{{ site_name }}"/>
            <span class="badge badge-pill badge-warning badge-beta">BETA</span>
        </a>
    </div>
</div>