<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ site_name }}{% endblock %}</title>

        {{ include('includes/fonts.html.twig') }}
        {{ encore_entry_link_tags('main') }}

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include 'includes/ui/userbar.html.twig' %}

            {% include 'includes/ui/logoblock.html.twig' %}
        {% endblock header %}

        {% block body %}{% endblock %}

        {% block footer %}
            {% include 'footer/footer.html.twig' %}
        {% endblock footer %}

        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}
        {% endblock %}

    </body>
</html>
